<!DOCTYPE html>
<html>
<head>
 <title>{% block title %}Welcome to mysite{% endblock %}</title>
 {% load staticfiles %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
 <link rel="stylesheet" type="text/css" href="{% static "css/custom.css"     %}" />
 <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<script type="text/javascript">
 $(function() {
 $('#submitButton').click(function() {
 $.ajax({
 type: "POST",
 url: "/makeshort/",
 data: {
 'url' : $('#url').val(),
 'csrfmiddlewaretoken' : $("input[name=csrfmiddlewaretoken]").val()
 },
 success: returnSuccess,
 dataType: 'json'
 });
 });
});
  
function returnSuccess(data, textStatus, jqXHR) {
 if(data.url) {
 $('#url-result').text(data.url);
 $('#url-result').attr("href",data.url);
 $('#url-result').attr("target","_blank");
 
 
 $('#url').val("");

 //Expiry Timer 
    var timeLeft = 300;
    var elem = document.getElementById('timer');
    
    var timerId = setInterval(countdown, 1000);
    
    function countdown() {
      if (timeLeft == 0) {
        clearTimeout(timerId);
        elem.innerHTML = "link has been expired"
        
      } else {
        elem.innerHTML ="link will expire in "+ timeLeft + ' seconds';
        timeLeft--;
      }
    }

 } else {
 $('#url-result').text("Do not submit blank."); 
 }
   
}
</script>
<body>
  
<div id="content">
{% block content %}
  
{% endblock %}
</div>
</body>
</html>